<!DOCTYPE html>
<html>

<%- partial("_partial/head") %>

<body style="position: relative;">
  <%- partial('_partial/loading', { cache: true }) %>
  <%- partial('_partial/bg-animation', { cache: true }) %>
  <%- partial("_partial/side-menu", { cache: true }) %>
  <%- partial("_partial/search/index", { cache: true }) %>
  <%- partial("_partial/header", { cache: true }) %>
  <main class="page-container">
    <%- body %>
  </main>
  <%- partial("_partial/footer", { cache: true }) %>
</body>

<%- export_config() %>

</html>