<div class="page-link-container">
  <div class="card animate__animated animate__fadeInDown">
    <h1><%= __("links.links_title") %></h1>
    <%- list_friend_link(theme.links.link_list) %>
  </div>
  <div class="card animate__animated animate__fadeInUp">
    <h1><%= __("links.site_info") %></h1>
    <div class="site-info markdown">
      <p><%= __("links.apply_label.name") %>: <%= theme.links.site_info.name %></p>
      <p><%= __("links.apply_label.link") %>: <%= theme.links.site_info.link %></p>
      <p><%= __("links.apply_label.icon") %>: <%= theme.links.site_info.icon %></p>
    </div>
    <%- partial("_partial/comment.ejs", { show_divide: true, show_header: true }) %>
  </div>
</div>