<% if(theme.comments === true) { %>
  <% if(show_divide) { %>
    <div class="divide"></div>
  <% } %>
  <% if(show_header) { %>
    <div class="iconfont icon-comment"><span><%= __("comment.header_title") %></span></div>
  <% } %>
  <% if(theme.comments.use === valine) { %>
    <div id="comment" class="comment markdown"></div>
    <script>
      new Valine({
        el: '#comment',
        appId: '<%= theme.comments.valine.appId %>',
        appKey: '<%= theme.comments.valine.appKey %>',
        avatar: '<%= theme.comments.valine.avatar %>',
        placeholder: '<%= theme.comments.valine.placeholder %>',
        pageSize: <%- theme.comments.valine.pageSize %>,
        visitor: <%= theme.comments.valine.visitor %>,
        recordIP: <%= theme.comments.valine.recordIP %>,
        lang: "<%= config.language %>"
      });
    </script>
  <% } %>
  <% if(theme.comments.use === waline) { %>
    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
    <div id="waline">
    <script type="module">
      import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
      init({
        el: '#waline',
        serverURL: '<%= theme.comments.waline.serverURL %>'
      });
    </script>
  <% } %>
  <% if(theme.comments.use === twikoo) %>
    <div id="tcomment"></div>
    <script src="https://cdn.staticfile.org/twikoo/1.6.16/twikoo.all.min.js"></script>
    <script>
    twikoo.init({
      envId: '<%= theme.comments.twikoo.envId %>', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
      el: '#tcomment', // 容器元素
      region: '<%= theme.comments.twikoo.region %>', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
      // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
      lang: '<%= config.language %>', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
    })
    </script>
  <% } %>
<% } %>