<footer class="page-footer animate__animated animate__fadeIn">
  <% if(theme.footer && theme.footer.enable) { %>
  <p class="footer__desc">
    <%= theme.footer.desc %>
  </p>
  <p class="copyright">Copyright © <%- theme.footer.building_time + "-" + date(Date.now(), 'YYYY') %> <%= config.author %> </span>
  <p>Powered by <%- link_to("https://hexo.io/", "Hexo", { external: true }) %> & <%- link_to("https://github.com/FE-Alog/hexo-theme-alog", "Hexo-theme-alog", { external: true }) %> </p>
  <% } %>
</footer>